:root { 
  /* Colores principales */
  --color-primary: #161616; /* Negro profundo */
  --color-secondary: #8B5E3C; /* Marrón cálido */
  --color-accent: #D9A25F; /* Dorado suave */
  --color-accent-dark: #A87542; /* Marrón oscuro */

  /* Colores de texto */
  --color-text-primary: #F5F5F5; /* Blanco suave */
  --color-text-secondary: #C2A88F; /* Beige tostado */

  /* Fondos */
  --color-background-light: #242424; /* Gris oscuro */
  --color-background-dark: #161616; /* Negro profundo */

  /* Fuentes */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  font-size: 16px;
  line-height: 1.6;
}
